<div class="container-md p-0 justify-content-center d-flex">
  <div class="rounded bg-white mt-sm-0 mt-md-5 mx-0 mx-md-2 py-4 d-flex flex-column align-items-center col col-lg-10 shadow">

    <div class="d-flex gap-md-4 align-items-center border-top col-11">
      <img class="col-3 col-md-2 col-lg-2 img-fluid" src="../assets/tv4.webp" alt="">
      <div class="col-5 col-md-4 ms-2 ms-md-0 text-center">
        <p>Pendiente de entrega</p>
        <p class=" opacity-75 ">Televisor de 42'' con netflix y tv publica incorporado </p>
      </div>

      <div class="col-2 d-none d-md-block text-center">
        Leandro Alvarez TV's
      </div>

      <div class="col-3 col-md-2 ms-auto d-flex flex-column gap-2 text-center">
        <button class="btn btn-primary fs-6 px-0">Ver Compra</button>
        <button class="btn btn-secondary fs-6 px-0 d-none d-lg-block">Volver a comprar</button>
      </div>
    </div>



  </div>
</div>
