
  <app-header></app-header>

  <div *ngIf="!esVendedor" class=" container-sm d-flex align-items-center">

    <div class="d-flex flex-wrap gap-3 mt-5">
      <div class="card col-3 " *ngFor="let i = index; let publicacion of publicaciones |slice:((paginator.pageIndex)*paginator.pageSize):((paginator.pageIndex+1)*paginator.pageSize) ">
        <a class="card_link" routerLink="/publicacion/{{publicacion.id}}">
          <img src="https://retailshop-back.herokuapp.com/get/image/{{publicacion.idImagen}}" class="card-img-top"
            alt="..." />
          <div class="card-body border-top border-dark border-opacity-10">
            <h5 class="text-dark">{{publicacion.precio | mask: 'separator.2':'.'}}$</h5>
            <p class="m-0 fw-bolder fs-6 opacity-75 text-success p-0 m-0">
              Envio gratis
            </p>
            <p class="m-0 text-dark fw-lighter">
              {{publicacion.nombre}}
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <mat-paginator style="background-color: #ebebeb;" class="paginador" #paginator [length]="length"
                [pageSize]="pageSize"
                (page)="handlePage($event)">
  </mat-paginator>
